/***************************
Add your custom styles below
****************************/

#recent-posts-2 {
    font-size: 1em;
    font-family: 'Lora';
    line-height: 1.625em;
    font-weight: 400;
}